html, body { 
  background: url(la_bg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-toggler {
  background: white;
  cursor: pointer;
}

.nav-link {
  color: white!important;
}

.header {
  margin: 5em 10em;
  padding: 10em 20em;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.about_sect {
  color: white;
  margin: 10em;
}

hr {border-top: 1px solid white;}

.artist_header {
  color: white;
}